#buttonAddProject {
  margin-top: 84px;
}

.add {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  place-content: center;
  gap: 24px;
  width: 240px;
  height: 60px;
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--colorMain);

  > span {
    background-image: var(--buttonAdd);
    width: 17px;
    height: 17px;
  }
}

.project {
  position: relative;
}

.project > button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 8px;
  background-image: var(--buttonBin);
  background-color: var(--colorBackground);
  background-position: center;
  background-repeat: no-repeat;
}

#new-project::backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#new-project {
  position: fixed;
  z-index: 10;
  border: none;
  height: 424px;
  max-width: 800px;
  width: 90vw;
  background-color: var(--colorBackground);
}

#buttonCancelProjectCreation {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: var(--buttonClose);
  background-color: var(--colorBackground);
  border-radius: unset;
  box-shadow: none;
  margin: 6px;
}

.addProjectContainer {
  display: grid;
  gap: 32px;
  width: 560px;
  height: 300px;
  font-family: var(--fontRoboto);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.addProject-div {
  display: grid;
  grid-auto-rows: max-content;
}

.addProject-label {
  font-family: var(--fontLeagueSpartan);
  font-weight: 700;
  margin-bottom: 16px;
}

.addProject-input {
  height: 20px;
  border: 0 solid var(--colorMain);
  border-bottom-width: 2px;
  padding: 0;
  background-color: unset;
  outline: 0;
  font-size: 16px;
  font-family: var(--fontRoboto);
}

.addProject-span {
  margin-top: 6px;
  color: var(--colorRed);
  font-size: 12px;
  font-family: var(--fontRoboto);
  height: 14px;
}


#button-create-project {
  place-self: end center;

  span {
    width: 17px;
    height: 17px;
  }
}
