.gridTemplate {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.buttonGrey {
  position: relative;
  padding: 0;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--colorGray);
  box-shadow: var(--colorShadow) 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

.centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: start center;
  height: 500px;
  color: var(--colorWhite);
  background-color: var(--colorMain);
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  max-width: 1200px;
  width: calc(100% - 240px);
  margin-top: 37px;
  font-family: var(--fontRoboto);
  font-weight: 700;
}

@media (max-width: 900px) and (min-width: 769px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.logo {
  font-size: 36px;
  font-weight: 700;
  align-content: center;
}

.logo-origin {
  color: var(--colorGold);
}

.logo-end {
  color: var(--colorGray);
}

.links {
  align-content: center;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 30px;
  font-weight: 700;
}

.homeButton {
  color: var(--colorGray);
}

.title-name {
  font-family: var(--fontLeagueGothic);
  font-size: 6rem;
  font-weight: 400;
  line-height: 7.2rem;
  margin: 0;
  text-align: center;
}

.title-profession {
  font-family: var(--fontLeagueSpartan);
  letter-spacing: 0.36em;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.84rem;
  margin: 0;
  text-align: center;
}

.main {
  display: grid;
  place-items: center;
  gap: 84px;
  min-height: calc(100vh - 500px - 400px);
}

.homePage-content {
  display: grid;
  gap: 40px;
  max-width: 958px;
  width: calc(100vw - 482px);
  margin-top: 84px;
}

.profilePhoto {
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 311px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.aboutMe {
  gap: 17px;
}

.mySkillsComponent {
  gap: 30px;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 182px);
  grid-template-rows: max-content;
  gap: 32px;
  justify-content: space-between;
}

.skill {
  display: grid;
  grid-template-columns: auto 108px;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 182px;
  height: 69px;
}

.skill-logo {
  grid-column: 1;
  grid-row: 1/4;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.skill-name {
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
}

.skill-dots {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  height: 12px;
  justify-content: space-between;
}

.skill-dot {
  width: 12px;
  height: 12px;
  background-size: cover;
}

.dotEmpty {
  background-image: var(--dotEmpty);
}

.dotFilled {
  background-image: var(--dotFilled);
}

.skill-years {
  color: var(--colorGray);
}

.projectsContainer {
  place-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 84px;
  max-width: 1440px;
  width: 100vw;
  justify-items: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: 1fr;
  place-content: center;
  gap: 84px 41px;
  width: calc(100% - 278px);
}

.homePage-showSingleProjectRow > *:nth-child(n + 4) {
  display: none;
}

@media (max-width: 1439px) and (min-width: 1039px) {
  .homePage-showSingleProjectRow > *:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 1038px) and (min-width: 769px) {
  .homePage-showSingleProjectRow > *:nth-child(n + 2) {
    display: none;
  }
}

.project {
  width: 360px;
  height: 460px;
  border-radius: 16px;
  background: linear-gradient(to bottom, var(--colorBlack), transparent), url("/img/backgroundProject.jpg") center;
  background-size: cover;
  box-shadow: var(--colorShadow) 0 4px 4px 0;
  color: var(--colorWhite);
  font-family: var(--fontRoboto);
}

.project-container {
  margin-top: 18px;
  justify-self: center;
  width: 300px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 40px;
}

.project-title {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: var(--colorProjectTitle);
}

.project-list {
  font-weight: 400;
  line-height: normal;
}

.project-listElement {
  padding-bottom: 32px;
}

.project-skillsList {
  max-height: 280px;
  height: 280px;
  overflow: auto;
}

.project-skillsList::-webkit-scrollbar {
  width: 8px
}

.project-skillsList::-webkit-scrollbar-track {
  background: var(--colorBackground);
  border-radius: 4px;
}

.project-skillsList::-webkit-scrollbar-thumb {
  background: var(--colorGray);
  border-radius: 4px;

}

@supports not selector(::-webkit-scrollbar) {
  .project-skillsList {
    scrollbar-color: var(--colorGray) var(--colorBackground);
  }
}

.buttonsCarousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  margin-bottom: 84px;

  button {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.buttonsCarousel-left {
  background-image: var(--buttonArrowLeft);
}

.buttonsCarousel-right {
  background-image: var(--buttonArrowRight)
}

.hide {
  display: none;
}

.footer {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 400px;
  background-color: var(--colorMain);
  color: var(--colorWhite);
  font-family: var(--fontRoboto);
  font-weight: 700;
}

.footer-container {
  display: grid;
  height: calc(100% - 120px);
  max-width: 1200px;
  width: calc(100% - 240px);
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}

.footerLinksContainer {
  display: grid;
  place-content: start;
}

.footerLinks {
  display: grid;
  place-content: start;
  grid-template-columns: 1fr;
}

.footerInfo {
  display: grid;
  gap: 30px;
}

.contactData {
  place-self: end;
}

.logoData {
  font-size: 27px;
}

.logoFooter {
  font-size: 27px;
}


/* --------------------------------------------------------------------- */


.addProjectButton {
  margin: 65px auto 65px auto;
}
