@media (max-width: 768px) {

  .header {
    min-width: 320px;
  }

  .nav {
    width: calc(100% - 20px);
    min-width: 288px;
    margin-top: 10px;
  }

  .logo-end {
    display: none;
  }

  .links {
    place-content: center start;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1;
    background-color: var(--colorMain);
    height: 286px;
    width: 100%;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--colorBackground);
    box-shadow: var(--colorShadowWhite) 0 4px 4px 0;
  }

  .links-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: max-content;
    margin-left: 37px;
  }

  .links-container a {
    line-height: 20px;
  }

  #hamburgerMenu {
    background-color: unset;
    box-shadow: none;
    width: 50px;
    height: 50px;
  }

  .main {
    width: 100%;
    min-width: 320px;
    min-height: calc(100vh - 500px - 232px);
  }

  .homePage-content {
    width: calc(100% - 32px);
    min-width: 288px;
  }

  .skillsContainer {
    grid-template-columns: 100%;
    row-gap: 36px;
    place-self: center;
  }

  .projectsContainer {
    grid-template-columns: 100%;
    place-items: center;
    row-gap: 41px;
    min-width: 300px;
  }

  .homePage-showSingleProjectRow {
    grid-template-rows: max-content;
    row-gap: 41px;
    place-items: center;
  }

  .homePage-showSingleProjectRow > *:nth-child(n + 4) {
    display: none;
  }

  .project {
    width: 300px;
  }

  .project-container {
    width: 250px;
  }

  .project-skillsList {
    font-size: 16px;
  }

  .buttonsCarousel-left {
    background-image: var(--buttonArrowDown);
  }

  .buttonsCarousel-right {
    background-image: var(--buttonArrowUp);
  }

  .footer {
    min-width: 320px;
    height: 232px;
  }

  .footer-container {
    width: calc(100% - 36px);
    grid-template-columns: 1fr;
    place-content: center;
  }

  .contactData {
    place-self: center;
    gap: 12px;
  }

  .footer .logo-end {
    display: initial;
  }

}
