@media (max-width: 768px) {

  body {
    justify-content: start;
  }

  header {
    min-width: 320px;
  }

  .nav {
    width: calc(100% - 20px);
    min-width: 288px;
    margin-top: 10px;
  }

  .logo {
    > span:last-child {
      display: none;
    }
  }

  #hamburgerMenu {
    background-color: unset;
    box-shadow: none;
    width: 50px;
    height: 50px;
  }

  #headerLinks {
    place-content: center start;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1;
    background-color: var(--colorMain);
    height: 286px;
    width: 100%;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--colorBackground);
    box-shadow: var(--colorShadowWhite) 0 4px 4px 0;

    > div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      width: max-content;
      margin-left: 37px;

      a {
        line-height: 20px;
      }
    }
  }

  main {
    width: 100%;
    min-width: 320px;
  }

  #main-description-and-skills {
    width: calc(100% - 32px);
    min-width: 288px;

    > div {
      > div:last-child {
        row-gap: 40px;

        > div {
          grid-template-columns: 100%;
          row-gap: 36px;
          place-self: center;
        }
      }
    }
  }

  #projects {
    grid-template-columns: 100%;
    place-items: center;
    row-gap: 41px;
    min-width: 300px;
  }

  .project {
    width: 300px;

    > div {
      width: 250px;

      > ul {
        font-size: 16px;
      }
    }
  }

  footer {
    min-width: 320px;
    height: 232px;

    > div {
      width: calc(100% - 36px);
      grid-template-columns: 1fr;
      place-content: center;

      > div:last-child {
        place-self: center;

        .logo {
          > span:last-child {
            display: initial;
          }
        }
      }
    }
  }
}
