@media (max-width: 768px) {

  .projectsGrid {
    grid-template-rows: max-content;
    row-gap: 41px;
    place-items: center;
  }

  #new-project {
    height: 344px;
    max-width: 442px;
    min-width: 288px;
  }

  .addProjectContainer {
    width: 93%;
    height: 264px;
  }
}
