@media (max-width: 768px) {
  .contactPageContent {
    gap: 30px;
    margin: 84px 0;
    min-width: 300px;
    width: 94%;
  }

  .contactTitle {
    font-size: 24px;
  }

  .contactPageInputContainer {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 40px;
  }

  .containerMessage {
    grid-column: auto;
    grid-row: auto;
  }

  .buttonSendMessage {
    margin-top: 54px;
    width: 300px;
  }
}
